body {
    margin: 0;
    padding: 0;
}
.header {
    background-color: rgb(0, 0, 0);
    min-height: 100px;
    display: flex;
    justify-content: flex-end;  
    align-items: center;
    padding-right: 30px;       
    background-attachment: fixed; 
}

.header nav {
    display: flex;
    gap: 40px; 
    background-attachment: fixed; 

}

.header nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    position: relative;
    padding-right:50px;
    transition: color 0.3s ease;
}

.header nav a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    left: 0;
    bottom: -5px;
    background-color: white;
    transition: width 0.3s ease;
}

.header nav a:hover {
    color: rgb(20, 71, 148);
    filter: brightness(3);
}

.header nav a:hover::after {
    width: 100%;
}

.intro{

    background: url("mytravelphoto2.png");
    opacity: 0.9;
    min-height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}


.intro h1, .intro h2 {
    position: absolute; 
    width: 60%;   
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-weight: bolder;
    color: aliceblue;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.903);
    margin: 10; 
}

.intro h1 {
    top: 10%; 
    font-size:500%
}

.intro h2 {
    top: 25%; 
    font-size: 300%;
}



.aboutme {
    display: flex; 
    align-items: flex-start;
    justify-content: space-between; 
    padding: 30px 20px;
    max-width: 1000px;
    margin: 0 auto; 
    gap: 40px;
}

.aboutmecontent {
   width: 60%; 
}

.aboutme img {
   
    width: 35%; 
    height: auto;
    padding: 20px 20px 20px 20px;
    border-radius: 0px; 
    object-fit: cover;
    box-shadow: offset-x offset-y blur-radius spread-radius color;

}



.aboutme1 {
    color: #000000; 
    font-size: 50px;
    font-weight: 700px;
    text-decoration: underline;
    text-decoration-color: #000000; 
    text-underline-offset: 8px;
    margin-bottom:0px;
}

.aboutmecontent p {
    color: #000000; 
    line-height: 1.6; 
    font-size: 1.2em;
    
    letter-spacing: 3px; 
}


.intersets{

    align-items: center;        
    text-align:center;
    color: #000000; 
    font-size: 50px;
    font-weight: 700px;
    text-decoration: underline;
    text-decoration-color: #000000; 
    text-underline-offset: 8px;
}

.travel-list {
    list-style: none;     
    padding: 0;
    margin: 0;
}

.travel-list li {
    left: 300px;
    background-size: cover;      
    background-position: center;
    height: 400px;
    width: 900px;                
    display: flex;
    align-items: center;         
    justify-content: center;     
    color: white;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.903);
}


.travel-list li::before {
    content: "";
    position: absolute;
    width:100%;
    height:100%;
    background: rgba(27, 18, 18, 0.4); 
    z-index:-1;
}

.travel-list li {
    position: relative;
    z-index: 1; 
}



.contact-section {
    margin: 0;    
    padding: 20px;
    background: #000000;    
    color: white;
    text-align: center;
}

.contact-section h3 {
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    display: inline;
}

.contact-links a {
    margin-top: 10px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background: rgba(255,255,255,0.15);
    padding: 40px 20px 10px 20px;
    transition: all 0.3s ease;
}

.contact-links a:hover {
    background: rgb(20, 71, 148);
    filter: brightness(3);
    color: hsl(30, 20%, 98%);
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}


.destinations {
    text-align: center;
    color: #000;
    font-size: 40px;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: #000;
    text-underline-offset: 16px;
    margin: 30px 0;
}

.place1, .place2 {
    padding: 20px 40px;
    overflow: auto;
}

.place1 h3, .place2 h3{
    color: rgb(20, 71, 148);
    font-size: 1.5em;
    margin-bottom: 10px;
}

.place1 p, .place2 p {
    color: #000;
    line-height: 1.6;
    font-size: 1.2em;
    letter-spacing: 1px;
}


.place1 h4, .place2 h4 {

    margin-top: 100px;
    color: rgb(101, 37, 11);
    line-height: 1.6;
    font-size: 1.2em;
    letter-spacing: 1px;
}





.place1 img {
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
}

.place2 img {
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
}



.place1 ul,.place2 ul  { 
    list-style: square; 
    margin-right: 40px; 
    line-height: 1.6; 
    font-size: 1.05em; 
    color: #000000;
    font-family:Georgia, 'Times New Roman', Times, serif; 
} 
    


.place1 ul li,.place2 ul li  {
     margin: 8px 0; 
    }



footer{
margin:0;
text-align: center;
font-size: 20px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: azure;
justify-content: center;
width: 100%;
height: 100%;
min-height: 8vh;
background-color: rgb(0, 0, 0);
top: 10px;
}


.bottom{

  margin-top:20px;
  background-color: #000000;

}